# Dependency directories
node_modules/
jspm_packages/

# Build / distribution directories
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# npm package files
*.tgz
.npm
.npmrc

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/

# Optional eslint cache
.eslintcache